@font-face {
  font-family: Helvetica;
  src: url("./assets/fonts/Helvetica.ttf") format("truetype");
}
/* @font-face {
  font-family: Helvetica;
  src: url("./assets/fonts/helvetica-light.ttf") format("truetype");
} */
@font-face {
  font-family: Helvetica-Bold;
  src: url("./assets/fonts/Helvetica-Bold.ttf") format("truetype");
}
body {
  margin: 0;
  padding: 0;
  background-image: url("/src/assets/img/macos-big-sur-1920x1080-dark-wwdc-2020-22655.jpg");
  font-family: Helvetica;
  background-size: cover;
  color: rgb(255, 255, 255, 0.75);
  letter-spacing: 0.5px;
}
a {
  color: #ffffff;
  font-size: 0.8rem;
}
p {
  color: #ffffff;
  font-size: 0.8rem;
}
a:hover {
  color: rgb(255, 255, 255, 0.9);
}
.loader-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  text-align: center;
  line-height: 1.6rem;
}

.loader-container-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 10;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}
.flex-ct {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.btn {
  background: rgba(285, 100, 25, 0.15);
  color: rgba(225, 225, 225, 0.75);
  /* backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px); */
}

.disabled {
  cursor: no-drop;
}
.spin-loader {
  transform: scale(0.5);
  /* animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
}
/* @keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
