@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: Axiforma;
  src: url("./assets/fonts/Kastelov - Axiforma Regular.otf") format("truetype");
  font-weight: bold;
  font-style: bold;
}
body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
}

.loader-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  text-align: center;
  line-height: 1.6rem;
}

.loader-container-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 10;
}
.spin-loader {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
